#home {
  // padding-top: 10vh;
}
.home {
  height: 100vh;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      h1 {
        width: 500px;
        .title {
          color: #61dafb !important;
        }
      }

      div {
        margin-top: 10px;
      }
    }

    .right {
      display: flex;
      justify-content: center;
      img {
        -webkit-animation: mover 2s infinite alternate;
        animation: mover 2s infinite alternate;

        @-webkit-keyframes mover {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-40px);
          }
        }
        @keyframes mover {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-40px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .home {
    // margin-top: 1rem;
    .container {
      // justify-content: start;
      flex-direction: column;

      .left {
        text-align: center;

        h1 {
          width: auto;
        }

        &:nth-of-type(1) {
          order: 2;
        }
      }

      .right {
        width: 100%;
        padding-left: 2.5rem;

        &:nth-of-type(2) {
          order: 1;
        }
      }
    }
  }
}
