#about {
  padding-top: 10vh;
  height: 100vh;
}
.about {
  padding: 0 1rem;
  .title {
    margin-top: 0.5rem;
    font-weight: bold;
    color: grey;
    margin-bottom: 0.5rem;
  }

  .container {
    border-radius: 10px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 5px #f2f2f2;
    padding: 1rem;

    .imgdiv {
      display: flex;
      justify-content: center;
      width: 40%;

      img {
        border-radius: 10px;
        height: 65vh;
      }
    }

    .infodiv {
      display: flex;
      line-height: 2;
      align-items: center;
      text-align: center;
      text-align: justify;
      text-justify: inter-word;
      justify-content: center;
      width: 60%;
      .text-about {
        width: 90%;
        font-size: 1.3rem;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  #about {
    height: auto;
  }
  .about {
    .container {
      flex-direction: column;
      .imgdiv {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          height: 65vh;
          width: 85vw;
        }
      }

      .infodiv {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        line-height: 1.5;

        .text-about {
          width: 95%;
          font-size: 1rem;
        }
      }
    }
  }
}
